*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.container-box-1 > div{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 80px;
}

.container-box-2 > div{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 80px;
}

.container-box-3 > div{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 80px;
}

.container-box-1{
    background-color: darkgreen;
    height: 400px;
    position: relative;
    width: 400px;
    z-index: 1;
}

.box-1-1{
    background-color: green;
    position: absolute;
    height: 200px;
    top: 100px;
    right: 100px;
    width: 200px;
    z-index: 0;
}
.box-1-2{
    background-color: greenyellow;
    height: 200px;
    position: absolute;
    width: 200px;
    z-index: 1;
}

.box-1-3{
    position: absolute;
    background-color: lightgreen;
    bottom: 30px;
    height: 200px;
    right: 30px;
    width: 200px;
    z-index: 4;
}



.container-box-2{
    background-color: darkblue;
    height: 400px;
    left: 250px;
    position: absolute;
    top: 340px;
    width: 400px;
    z-index: 2;
}

.box-2-1{
    background-color: blue;
    position: absolute;
    height: 200px;
    top: 100px;
    right: 100px;
    width: 200px;
    z-index: 0;
}
.box-2-2{
    position: absolute;
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    z-index: 3;
}



.container-box-3{
    background-color: darkred;
    height: 400px;
    left: 100px;
    position: absolute;
    top: 200px;
    width: 400px;
    z-index: 2;
}

.box-3-1{
    background-color: red;
    position: absolute;
    height: 200px;
    top: 100px;
    right: 100px;
    width: 200px;
    z-index: 0;
}
.box-3-2{
    position: absolute;
    background-color: pink;
    height: 200px;
    width: 200px;
    z-index: 3;
}

.box-3-3{
    position: absolute;
    background-color: darkorange;
    bottom: 30px;
    height: 200px;
    right: 30px;
    width: 200px;
    z-index: 2;
}

.box-2-3{
    background-color: lightblue;
    bottom: 250px;
    height: 200px;
    left: -200px;
    position: fixed;
    width: 200px;
    z-index: 5;
}